body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 25px;
    background-color: mediumaquamarine;
    /* margin-top: 150px; */
}
.title{
    display: flex;
    align-content: center;
    justify-content: center;
}
.title2{
    display: flex;
    align-content: center;
    justify-content: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: saddlebrown;
    border-radius: 10px;
    border-style:outset;
    border-width: 10px;
    border-color: brown;
    margin-bottom: 200px;
}
.book{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
    height: 200px;
    width: 150px;
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
    border-right-style: outset;
    border-right-color:antiquewhite ;
    border-left-style: groove;
    border-left-color:darkblue;
    border-left-width: 5px;
}
.heading{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content:center;
    flex-direction: column;
    padding-top: 50px;
}
button{
    margin: 10px;
    background-color:antiquewhite;
    border-style: ridge;
    border-radius: 10px;
    border-color: darkblue;
}
.yourBook{
    display: flex;
    flex: wrap;
    align-content: center;
    justify-content: center;
    background-color:antiquewhite;
    padding: 25px;
    width: 100%;
    border-style:ridge;
    border-color: darkblue;
    border-radius: 10px;
    bottom: 0;
    position: fixed;
    display: none;
}
#yourBook-button{
    display: flex;
    flex: wrap;
}
.bookInfo{
    display: flex;
    flex:wrap;
    align-content: center;
    justify-content: center;
    margin: 25px;
}
#fav{
    display: none;
}
#top{
    background-color: antiquewhite;
    width: 100%;
    border-color: darkblue;
    border-style:ridge;
    border-left: 0;
    min-height:80px;
    display: flex;
    align-content: center;
    justify-content:space-between;
}
#navBar{
    width:100%;
    margin: 0;
    padding:0;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: black;
}
.navButt{   
    height:48px;
}
#aboutpara{
    display: flex;
    flex: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    margin: 20px;
    padding: 20px;
    border-style: ridge ;
    border-color: darkblue;
    border-radius: 10px;
}
#links{
    display: flex;
}
img{
    height:60px
}
#comment-box{
    display: none;
}
#post{
    display: none;
}
#unordered{
    display: none;
}
#comment-box{
    height:60px;
    width:250px;
}
.comm{
    list-style: none;
    text-decoration: none;
    background-color:gainsboro;
    width: 250px;
    border-radius: 5px;
    margin: 15px;
    padding: 2px;   
}
#commDiv{
    padding: 20px;
}